html{
  font-family: "Open Sans", sans-serif;
  color: rgb(77, 77, 78);
}

h1{
  font-weight: bold;
  margin: 0.5rem 0 0.5rem 0;
}
.container{
  width: 80%;
}

img.responsive-img{
  width: 100px;
  height: 100px;
}

td, th {
  text-align: center;
  font-size: 2.25rem;
}

i{
  vertical-align: center;
}

#leaderboard{
  margin-top: 2.5rem;
  border-top: 3px solid #0a96c8;
}

#workout_header {
  margin-top: 1rem;
  padding: 1rem;
  border-top: 3px solid #0a96c8;
  text-align: center;
}

#subheader{
  display: none;
}

#ticker{
  height: 90px;
  background-color: rgb(31, 36, 42);
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

.ticker_contents{
  font-size: 44px;
  color: white;
  display: inline;
  position: relative;
  top: 10px;
  left: 1920px;
}

.ticker_info_unit {
  font-size: 44px;
  color: white;
  padding-right: 100px;
}